.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  gap: 2vw 8vw;
  width: 70vw;
  height: 10vh;
  margin: auto;
  justify-content: center;
}

@media only screen and (max-width: 1165px) {
  .chart-container {
    display: grid;
    grid-template-columns: repeat(1, 70%);
  }
}
